<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
    </mat-grid-list>
  </ng-template>

  <div *ngIf="hero; else divLoading" class="grid p-2">
  <span class="hidden md:block md:col-1 lg:block lg:col-3"></span>
  <mat-card class="col-12 sm:col-6 md:col-5 lg:col-3">
    <mat-card-header>
      <mat-card-title>{{ hero.superhero }}</mat-card-title>
      <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="hero | heroImage" [alt]="hero.superhero" mat-card-image>
  </mat-card>
  <mat-card class="col-12 sm:col-6 md:col-5 lg:col-3">
    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>looks_one</mat-icon>
          <span matListItemTitle>Primera aparición: </span>
          <span matListItemLine>{{ hero.first_appearance }}</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>badge</mat-icon>
          <span matListItemTitle>{{ hero.characters.split(',').length | i18nPlural:charactersMap }}</span>
          <span matListItemLine
          *ngFor="let item of hero.characters.split(',') let i = index"
          >{{ hero.characters.replaceAll(', ', ',').split(',')[i] }}</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>publish</mat-icon>
          <span matListItemTitle>Publisher: </span>
          <span matListItemLine>{{ hero.publisher }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-footer>
      <button mat-button color="primary" (click)="goBack()">Volver al Listado</button>
    </mat-card-footer>
  </mat-card>
  <span class="hidden lg:block lg:col-3"></span>
</div>
